/* 320..720..1024  */

@media only screen and (max-width:320px ) {
   
    html{
        box-sizing: border-box;   
    }
    *, *::before, *::after{
        box-sizing: inherit;
    }
    #head{
        display: flex;
        flex-direction: column;
    }
    #head > .logo{
        font-size: 1.2em;
        width: 100%;
        text-align: center;
    }
    
    
}